 input::placeholder {
    
    opacity: 1;
    color: white !important
    ;
  } 
body{
    background-color: #24353F;
}

.container{
    background-color: #24353F;
}
h1{
   color: #17a2b8;
}

section{
    background-color: #24353F;
    
}
.signUp-content{
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}
.signInQuestion a{
    text-decoration: none;
}

 .signInQuestion a:hover{
    text-decoration: underline;
}

/* input{
    background-color: transparent !important;
    color: #fff !important;
} */